*{
    margin: auto;
}
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
    margin: auto;
    
}
.container:hover{
    cursor: pointer;
}
.search-filter-boxes{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
   margin-left: 0;
   margin-right: 0;
width:100%;
justify-content: space-between;
}
.search-box>input{
    width:60%;
    height:2em;
    border-radius: 5px;
}
.filter-box >select{
    height: 2em;
    border-radius: 5px;
}
table{
    width: 60%;
}
th,td{
    height: 3em;
    width:20%;
    font-size: 1.5em;
}
th{
    background-color: rgb(87, 87, 241);
    color: white;
}
label{
    font-weight: bolder;
    font-size: 1em;
}
*{
    margin: auto;
}
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
    margin: auto;
    
}
.container:hover{
    cursor: pointer;
}
.search-filter-boxes{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
   margin-left: 0;
   margin-right: 0;
width:100%;
justify-content: space-between;
}
.search-box>input{
    width:60%;
    height:2em;
    border-radius: 5px;
}
.filter-box >select{
    height: 2em;
    border-radius: 5px;
}
table{
    width: 60%;
}
th,td{
    height: 3em;
    width:20%;
    font-size: 1.5em;
}
th{
    background-color: rgb(87, 87, 241);
    color: white;
}
label{
    font-weight: bolder;
    font-size: 1em;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }
  
  .popup-content h2 {
    margin-bottom: 10px;
  }
  
  .popup-content p {
    margin: 10px 0;
  }
  
  .popup-content button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  